# Converting to Fantasy Points

In [45]:
import pandas as pd

In [46]:
player_proj = pd.read_csv('player_proj_df.csv')
player_info = pd.read_csv('player_info_df.csv')

In [47]:
df_proj_stats = player_proj.loc[:, 
               ['proj_pts','proj_min','proj_fgm','proj_fga','proj_fg3m','proj_fg3a','proj_ftm','proj_fta','proj_oreb','proj_dreb','proj_ast','proj_stl','proj_tov', 'proj_blk']]

In [48]:
df_proj_stats = pd.concat([player_info, df_proj_stats], axis=1)

In [49]:
df_proj_stats.rename(columns = {'proj_season_id':'season_id',
                               'proj_pts': 'pts',
                                'proj_min':'min',
                                'proj_fgm':'fgm',
                                'proj_fga':'fga',
                                'proj_fg3m':'fg3m',
                                'proj_fg3a':'fg3a',
                                'proj_ftm':'ftm',
                                'proj_fta':'fta',
                                'proj_oreb':'oreb',
                                'proj_dreb':'dreb',
                                'proj_ast':'ast',
                                'proj_stl':'stl',
                                'proj_tov':'tov',
                               'proj_blk':'blk'}, inplace = True)

In [50]:
df_proj_stats.sample(5)

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
180,LaMarcus Aldridge,200746,2018-19,20.181851,34.728472,8.106921,16.592700,0.250342,0.837690,3.683597,4.503393,2.246301,6.212722,2.301282,0.739768,1.862418,1.152890
150,Jonathon Simmons,203613,2018-19,14.969467,31.974897,5.565556,12.761342,1.105153,3.160671,2.745382,3.365303,0.603905,2.723146,2.884002,0.893939,1.852227,0.237973
175,Kyle Anderson,203937,2018-19,8.112281,24.844829,3.092074,7.162645,0.289820,1.026203,1.639083,2.307878,1.206433,3.230850,1.957003,1.164290,1.222579,0.482008
55,Dario Saric,203967,2018-19,13.379108,31.380823,5.035609,11.230475,1.220590,3.266498,2.115118,2.636098,1.080549,3.958296,2.205458,0.708087,1.499203,0.394888
179,Kyrie Irving,202681,2018-19,20.804185,35.382934,7.615389,17.082654,2.012163,5.393692,3.602809,4.267922,0.730964,3.195910,5.198248,1.052358,2.240620,0.243000

In [51]:
def fantasy_pts_converter(row):
    pts = row['pts']
    fgm = row['fgm']
    fga = row['fga']
    ftm = row['ftm']
    fta = row['fta']
    oreb = row['oreb']
    dreb = row['dreb']
    ast = row['ast']
    stl = row['stl']
    tov = row['tov']
    blk = row['blk'] 
    fantasy_pts = pts + fgm - fga + ftm - fta + oreb + dreb + ast + stl - tov + blk
    return fantasy_pts

In [52]:
fantasy_value = df_proj_stats.apply(fantasy_pts_converter, axis = 1)

In [53]:
df_proj_stats['fantasy_pts'] = fantasy_value

In [54]:
df_proj_stats.sort_values('fantasy_pts', ascending = False)

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk,fantasy_pts
185,LeBron James,2544,2018-19,26.963298,37.526451,9.926719,18.992875,1.510635,4.283107,5.583248,7.591139,1.109799,6.445393,6.978517,1.493536,3.503231,0.759320,29.172586
253,Russell Westbrook,201566,2018-19,26.462878,36.794677,9.464468,19.396664,1.611749,4.605346,5.934972,7.688541,1.135222,6.152024,8.091317,1.604841,3.836465,0.501244,28.425297
101,Giannis Antetokounmpo,203507,2018-19,25.855110,36.699339,9.629458,19.317893,0.654471,1.998258,5.953134,7.784755,2.166553,7.670942,4.156653,1.396763,2.859267,1.491749,28.358448
14,Anthony Davis,203076,2018-19,24.993212,35.263440,9.414461,18.017345,0.441750,1.401594,5.723050,7.449766,2.293854,7.810872,2.281250,1.152753,2.173989,1.946802,27.975154
129,James Harden,201935,2018-19,27.432753,37.275570,8.739531,19.326112,2.441601,6.920870,7.523822,8.988620,0.891902,5.167232,6.767129,1.562489,3.839136,0.545123,26.476112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Demetrius Jackson,1627743,2018-19,3.225949,11.091111,1.075341,2.619767,0.229921,0.700412,0.816061,1.139778,0.229000,0.798923,1.226060,0.398855,0.592786,0.105853,3.523713
188,Malachi Richardson,1627781,2018-19,3.500000,11.200000,1.400000,3.800000,0.600000,2.000000,0.000000,0.100000,0.100000,1.100000,0.600000,0.500000,0.300000,0.200000,3.200000
190,Malik Beasley,1627736,2018-19,3.301039,11.540422,1.275943,3.156478,0.384840,1.183534,0.413730,0.531378,0.277839,0.797142,0.705454,0.382547,0.497197,0.090859,3.059499
124,Jake Layman,1627774,2018-19,2.692225,9.962606,0.999658,2.452452,0.258409,0.901157,0.429845,0.558704,0.225457,0.703607,0.745066,0.342058,0.404376,0.106394,2.828777
6,Alex Poythress,1627816,2018-19,2.240311,9.086817,0.848062,1.903875,0.348062,0.903875,0.148062,0.148062,0.196125,0.736436,0.544187,0.148062,0.296125,0.048062,2.561245

In [55]:
df_for_export = round(df_proj_stats.sort_values('fantasy_pts', ascending = False),2)

In [56]:
df_for_export.to_csv('projected_fantasy_pts_final_2018_19.csv', index=False)

# Getting Our Baseline Numbers

In [57]:
import pandas as pd
import numpy as np

In [58]:
draft_df = pd.read_csv('Fantasy Projections - 2018_19 - 2018_espn_draft.csv', header=0)

In [59]:
draft_df.head(5)

   pick                 player position
0     1      Russell Westbrook       PG
1     2           James Harden       SG
2     3           Kevin Durant       SF
3     4  Giannis Antetokounmpo       SF
4     5          Anthony Davis       PF

In [60]:
df_top_80 = draft_df[draft_df['pick'] <= 80]

In [61]:
df_top_80.tail()

    pick          player position
75    76     Gary Harris       SG
76    77      Lonzo Ball       PG
77    78     Rodney Hood       SG
78    79   Zach Randolph       PF
79    80  Brandon Ingram       PF

In [62]:
df_top_80.groupby('position').count()
df_top_80.tail(5)

    pick          player position
75    76     Gary Harris       SG
76    77      Lonzo Ball       PG
77    78     Rodney Hood       SG
78    79   Zach Randolph       PF
79    80  Brandon Ingram       PF

In [63]:
position_dictionary = {
    'PG': 21,
    'SG': 13,
    'SF': 12,
    'PF': 19,
    'C': 15
}

In [64]:
df1 = pd.read_csv('Fantasy Projections - 2018_19 - 2018_espn_player_positions.csv', header=0)
df2 = pd.read_csv('projected_fantasy_pts_final_2018_19.csv', header=0)

In [65]:
df1.sample()

         player_name  player_id season_id espn_position
70  Danilo Gallinari     201568   2018-19            SF

In [66]:
df2.sample()

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk,fantasy_pts
250,Anthony Tolliver,201229,2018-19,7.18,18.15,2.58,6.06,1.03,2.67,1.01,1.22,0.42,1.9,0.95,0.46,0.7,0.19,6.71

In [67]:
df3 = df1.merge(df2, how='left', on='player_id')

In [68]:
df_final = df3[['player_name_x', 'player_id', 'season_id_x', 'espn_position', 'fantasy_pts']]

In [69]:
df_final.rename(columns={
    'player_name_x': 'player_name',
    'season_id_x': 'season_id'
}).head(5)

             player_name  player_id season_id espn_position  fantasy_pts
0           LeBron James       2544   2018-19            SF        29.17
1      Russell Westbrook     201566   2018-19            PG        28.43
2  Giannis Antetokounmpo     203507   2018-19            SF        28.36
3          Anthony Davis     203076   2018-19            PF        27.98
4           James Harden     201935   2018-19            SG        26.48

In [70]:
df_final.to_csv('projected_fanatasy_pts_with_positions_2018_19.csv', index=False)

In [71]:
positions = [
    'PG',
    'SG',
    'SF',
    'PF',
    'C'
]

In [72]:
def calc_baseline(position, df):
    df_filter = df[df['espn_position'] == position]
#     print(df_filter.tail(5))
    x = position_dictionary.get(position)
#     print(x)
    replacement_player = df_filter.iloc[x]
#     print(replacement_player)
    value_to_subtract = replacement_player['fantasy_pts']
    return value_to_subtract

In [73]:
baseline_points = {}
for position in positions:
        y = calc_baseline(position, df_final)
        baseline_points[position] = y

In [74]:
baseline_points

{'PG': 12.09, 'SG': 13.14, 'SF': 13.86, 'PF': 12.81, 'C': 14.02}