# Using RMSE to Evaluate Our Model

In [1]:
import pandas as pd
import numpy as np
import subprocess

In [2]:
proj_df = pd.read_csv('player_proj_df.csv')
proj_df.head()

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,203932,1.994430,0.710601,5.126943,3.961834,1.402502,13.509175,5.956650,3.608475,2.800268,...,2.4,3.2,0.731,1.7,5.7,3.7,2.1,0.7,0.7,16.0
1,201143,3.247733,1.025916,4.582944,3.079483,1.127251,10.359166,4.860939,1.927194,1.470858,...,1.1,1.4,0.821,1.8,5.0,4.2,1.5,0.9,1.3,13.6
2,202329,1.754433,0.446132,4.286956,3.877699,1.407756,8.190519,3.574506,1.679742,1.238291,...,1.9,2.1,0.867,1.4,6.1,1.3,0.9,0.8,0.4,9.4
3,202692,1.525246,0.143212,1.894640,2.190524,0.692337,7.286938,3.014837,2.166992,1.667793,...,1.8,2.2,0.823,0.5,3.2,2.0,1.0,0.6,0.3,8.8
4,203518,0.988705,0.112903,1.361302,2.800757,1.065089,4.592593,1.876591,0.839953,0.668980,...,0.4,0.4,0.923,0.2,1.4,0.6,0.5,0.5,0.2,5.3

In [3]:
proj_df['squared_error'] = (proj_df['proj_pts'] - proj_df['pts'])**(2)

In [4]:
mse = proj_df['squared_error'].mean()

In [5]:
rmse = mse ** (1/2)

In [6]:
rmse

3.302971088916984

In [7]:
proj_df['squared_error'] = (proj_df['proj_ast'] - proj_df['ast'])**(2)

In [8]:
mse = proj_df['squared_error'].mean()

In [9]:
rmse = mse ** (1/2)

In [10]:
rmse

0.9944342105776937

In [11]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [12]:
player_proj = pd.read_csv('player_proj_df.csv')
player_info = pd.read_csv('player_info_df.csv')

In [13]:
player_proj.sample(5)

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
173,201585,0.860160,0.590991,3.378682,0.173952,0.058739,4.724174,2.411774,1.107352,0.713933,...,0.2,0.6,0.417,1.2,3.0,0.9,0.6,0.4,0.4,3.7
130,201949,2.647625,0.476146,3.538540,1.791179,0.613123,8.839921,4.107356,2.185978,1.686336,...,0.9,1.3,0.714,0.4,2.8,2.5,1.3,0.6,0.5,7.8
122,203109,1.355455,0.175954,2.464703,3.544201,1.278828,7.431207,3.140474,1.374845,1.111105,...,1.8,2.5,0.721,0.8,4.1,1.7,1.1,0.8,0.4,11.9
219,203999,3.513361,1.038114,6.292501,2.744076,0.890847,12.286644,5.621584,3.982644,2.898615,...,3.6,4.4,0.821,2.9,8.0,7.3,3.1,1.4,0.7,20.1
156,203944,1.940765,0.597355,4.342243,0.304454,0.094856,11.770013,5.666344,3.927462,2.894214,...,4.9,6.7,0.731,2.2,6.5,3.1,2.8,0.7,0.6,21.4

In [14]:
df_real = player_proj.loc[:, ['pts','min','fgm','fga','fg3m','fg3a','ftm','fta','oreb','dreb','ast','stl','tov', 'blk']]

In [15]:
df_proj = player_proj.loc[:, ['proj_pts','proj_min','proj_fgm','proj_fga','proj_fg3m','proj_fg3a','proj_ftm','proj_fta','proj_oreb','proj_dreb','proj_ast','proj_stl','proj_tov', 'proj_blk']]

In [16]:
df_real.sample(5)

,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
129,36.1,36.8,10.8,24.5,4.8,13.2,9.7,11.0,0.8,5.8,7.5,2.0,5.0,0.7
143,13.7,30.2,4.9,9.8,2.4,5.1,1.4,1.8,0.7,3.1,2.4,0.5,1.6,0.2
304,7.3,14.0,2.6,5.1,0.3,0.7,1.7,2.5,2.0,3.3,1.0,0.3,1.0,0.3
11,3.5,12.2,1.6,3.3,0.0,0.0,0.3,0.3,1.1,3.9,1.0,0.3,0.7,0.7
167,11.4,24.8,4.0,9.2,1.8,5.3,1.7,1.9,0.6,2.3,1.3,0.9,0.8,0.2

In [17]:
df_proj.sample(5)

,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_stl,proj_tov,proj_blk
165,6.711889,19.247851,2.719246,5.703631,0.000000,0.010557,1.260093,1.822266,1.871270,3.249318,0.721002,0.500157,1.081317,0.604350
178,7.227536,22.080642,2.979278,6.123353,0.026831,0.145795,1.228733,1.794458,1.834951,4.354318,1.202323,0.587084,1.272387,1.285420
46,12.648145,27.634187,4.662343,11.144349,1.448900,4.051907,1.898726,2.258063,0.454394,2.455348,3.625730,0.868947,2.010073,0.198459
278,7.186816,19.631651,2.759360,6.490910,0.795701,2.116074,0.848164,0.973520,0.352025,1.753798,1.385988,0.438593,1.100436,0.115404
254,5.086950,16.754170,1.773850,4.679247,0.827965,2.356360,0.741400,1.039258,0.432290,1.952069,0.737399,0.484161,0.588370,0.258169

In [18]:
se = mean_squared_error(df_real, df_proj)

In [19]:
mse = np.mean(se)

In [20]:
rmse = np.sqrt(mse)

In [21]:
confidence = rmse

In [22]:
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

98.03 percent confidence in projected 2018-19 per game stats

In [23]:
se = mean_squared_error(df_real, df_proj)
mse = np.mean(se)
rmse = np.sqrt(mse)
confidence = rmse
print(rmse)
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

1.9731418694371916
98.03 percent confidence in projected 2018-19 per game stats

In [24]:
df_real_stats = pd.concat([player_info, df_real], axis=1)

In [25]:
df_real_stats.sample(5)

,player_name,player_id,proj_season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
94,Frank Kaminsky,1626163,2018-19,8.6,16.1,2.9,6.3,1.1,3.0,1.7,2.3,0.8,2.6,1.3,0.3,0.9,0.3
281,Tony Parker,2225,2018-19,9.5,17.9,3.8,8.3,0.2,0.9,1.6,2.2,0.3,1.2,3.7,0.4,1.3,0.1
195,Marcus Smart,203935,2018-19,8.9,27.5,3.0,7.1,1.6,4.3,1.3,1.6,0.7,2.2,4.0,1.8,1.5,0.4
16,Aron Baynes,203382,2018-19,5.6,16.1,2.1,4.4,0.4,1.2,1.0,1.2,1.7,3.0,1.1,0.2,0.8,0.7
162,Kelly Olynyk,203482,2018-19,10.0,22.9,3.3,7.1,1.4,4.0,1.9,2.3,0.9,3.8,1.8,0.7,1.4,0.5

In [26]:
df_real_stats.rename(columns = 
                    {'proj_season_id' : 'season_id'}, inplace = True)

In [27]:
df_proj_stats = pd.concat([player_info, df_proj], axis=1)

In [28]:
df_proj_stats.rename(columns = {'proj_season_id':'season_id',
                               'proj_pts': 'pts',
                                'proj_min':'min',
                                'proj_fgm':'fgm',
                                'proj_fga':'fga',
                                'proj_fg3m':'fg3m',
                                'proj_fg3a':'fg3a',
                                'proj_ftm':'ftm',
                                'proj_fta':'fta',
                                'proj_oreb':'oreb',
                                'proj_dreb':'dreb',
                                'proj_ast':'ast',
                                'proj_stl':'stl',
                                'proj_tov':'tov',
                               'proj_blk':'blk'}, inplace = True)

In [29]:
display(df_real_stats.head(5))

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,Aaron Gordon,203932,2018-19,16.0,33.8,6.0,13.4,1.6,4.4,2.4,3.2,1.7,5.7,3.7,0.7,2.1,0.7
1,Al Horford,201143,2018-19,13.6,29.0,5.7,10.6,1.1,3.0,1.1,1.4,1.8,5.0,4.2,0.9,1.5,1.3
2,Al-Farouq Aminu,202329,2018-19,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.8,0.9,0.4
3,Alec Burks,202692,2018-19,8.8,21.5,3.0,7.4,1.0,2.6,1.8,2.2,0.5,3.2,2.0,0.6,1.0,0.3
4,Alex Abrines,203518,2018-19,5.3,19.0,1.8,5.1,1.3,4.1,0.4,0.4,0.2,1.4,0.6,0.5,0.5,0.2

In [30]:
display(round(df_proj_stats,1).head(5))

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,Aaron Gordon,203932,2018-19,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,0.9,1.6,0.7
1,Al Horford,201143,2018-19,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,0.7,1.6,1.0
2,Al-Farouq Aminu,202329,2018-19,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,0.9,1.1,0.4
3,Alec Burks,202692,2018-19,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,0.5,1.0,0.1
4,Alex Abrines,203518,2018-19,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.5,0.6,0.1

In [31]:
df_proj_stats_2018_19 = round(df_proj_stats,1)

In [32]:
df_proj_stats_2018_19.head(5)

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,Aaron Gordon,203932,2018-19,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,0.9,1.6,0.7
1,Al Horford,201143,2018-19,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,0.7,1.6,1.0
2,Al-Farouq Aminu,202329,2018-19,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,0.9,1.1,0.4
3,Alec Burks,202692,2018-19,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,0.5,1.0,0.1
4,Alex Abrines,203518,2018-19,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.5,0.6,0.1

In [33]:
df_real_stats_2018_19 = df_real_stats
df_real_stats_2018_19.head(5)

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,Aaron Gordon,203932,2018-19,16.0,33.8,6.0,13.4,1.6,4.4,2.4,3.2,1.7,5.7,3.7,0.7,2.1,0.7
1,Al Horford,201143,2018-19,13.6,29.0,5.7,10.6,1.1,3.0,1.1,1.4,1.8,5.0,4.2,0.9,1.5,1.3
2,Al-Farouq Aminu,202329,2018-19,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.8,0.9,0.4
3,Alec Burks,202692,2018-19,8.8,21.5,3.0,7.4,1.0,2.6,1.8,2.2,0.5,3.2,2.0,0.6,1.0,0.3
4,Alex Abrines,203518,2018-19,5.3,19.0,1.8,5.1,1.3,4.1,0.4,0.4,0.2,1.4,0.6,0.5,0.5,0.2

In [34]:
df_real_stats_2018_19['fg%'] = df_real['fgm']  / df_real['fga']
df_real_stats_2018_19['ft%'] = df_real['ftm'] / df_real['fta']
df_real_stats_2018_19['reb'] = df_real['oreb'] + df_real['dreb']
df_proj_stats_2018_19['fg%'] = df_proj_stats['fgm']  / df_proj_stats['fga']
df_proj_stats_2018_19['ft%'] = df_proj_stats['ftm'] / df_proj_stats['fta']
df_proj_stats_2018_19['reb'] = df_proj_stats['oreb'] + df_proj_stats['dreb']

In [35]:
df_real_stats_2018_19 = round(df_real_stats_2018_19,2)
df_real_stats_2018_19.head(5)

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk,fg%,ft%,reb
0,Aaron Gordon,203932,2018-19,16.0,33.8,6.0,13.4,1.6,4.4,2.4,3.2,1.7,5.7,3.7,0.7,2.1,0.7,0.45,0.75,7.4
1,Al Horford,201143,2018-19,13.6,29.0,5.7,10.6,1.1,3.0,1.1,1.4,1.8,5.0,4.2,0.9,1.5,1.3,0.54,0.79,6.8
2,Al-Farouq Aminu,202329,2018-19,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.8,0.9,0.4,0.44,0.90,7.5
3,Alec Burks,202692,2018-19,8.8,21.5,3.0,7.4,1.0,2.6,1.8,2.2,0.5,3.2,2.0,0.6,1.0,0.3,0.41,0.82,3.7
4,Alex Abrines,203518,2018-19,5.3,19.0,1.8,5.1,1.3,4.1,0.4,0.4,0.2,1.4,0.6,0.5,0.5,0.2,0.35,1.00,1.6

In [36]:
df_proj_stats_2018_19.head(5)

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk,fg%,ft%,reb
0,Aaron Gordon,203932,2018-19,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,0.9,1.6,0.7,0.440934,0.776026,6.748596
1,Al Horford,201143,2018-19,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,0.7,1.6,1.0,0.469240,0.763213,5.801251
2,Al-Farouq Aminu,202329,2018-19,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,0.9,1.1,0.4,0.436420,0.737191,5.388717
3,Alec Burks,202692,2018-19,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,0.5,1.0,0.1,0.413732,0.769635,2.417396
4,Alex Abrines,203518,2018-19,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.5,0.6,0.1,0.408612,0.796450,1.731801

In [37]:
df_proj_stats_2018_19 = round(df_proj_stats_2018_19,2)
df_proj_stats_2018_19.head(5)

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk,fg%,ft%,reb
0,Aaron Gordon,203932,2018-19,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,0.9,1.6,0.7,0.44,0.78,6.75
1,Al Horford,201143,2018-19,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,0.7,1.6,1.0,0.47,0.76,5.80
2,Al-Farouq Aminu,202329,2018-19,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,0.9,1.1,0.4,0.44,0.74,5.39
3,Alec Burks,202692,2018-19,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,0.5,1.0,0.1,0.41,0.77,2.42
4,Alex Abrines,203518,2018-19,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.5,0.6,0.1,0.41,0.80,1.73

In [38]:
df_real_final = df_real_stats_2018_19.loc[:, ['player_id','pts','reb','ast','blk','stl','fg%','ft%','fg3m','min','tov']]
df_proj_final = df_proj_stats_2018_19.loc[:, ['player_id','pts','reb','ast','blk','stl','fg%','ft%','fg3m','min','tov']]

In [39]:
df_real_final.head(5)

   player_id   pts  reb  ast  blk  stl   fg%   ft%  fg3m   min  tov
0     203932  16.0  7.4  3.7  0.7  0.7  0.45  0.75   1.6  33.8  2.1
1     201143  13.6  6.8  4.2  1.3  0.9  0.54  0.79   1.1  29.0  1.5
2     202329   9.4  7.5  1.3  0.4  0.8  0.44  0.90   1.2  28.3  0.9
3     202692   8.8  3.7  2.0  0.3  0.6  0.41  0.82   1.0  21.5  1.0
4     203518   5.3  1.6  0.6  0.2  0.5  0.35  1.00   1.3  19.0  0.5

In [40]:
df_proj_final.head(5)

   player_id   pts   reb  ast  blk  stl   fg%   ft%  fg3m   min  tov
0     203932  16.1  6.75  2.0  0.7  0.9  0.44  0.78   1.4  33.9  1.6
1     201143  12.3  5.80  3.2  1.0  0.7  0.47  0.76   1.1  30.2  1.6
2     202329   9.8  5.39  1.8  0.4  0.9  0.44  0.74   1.4  28.0  1.1
3     202692   8.3  2.42  1.5  0.1  0.5  0.41  0.77   0.7  20.8  1.0
4     203518   5.5  1.73  1.0  0.1  0.5  0.41  0.80   1.1  17.0  0.6

In [41]:
df_real_final.to_csv('df_real_final.csv')
df_proj_final.to_csv('df_proj_final.csv')

In [42]:
df_real_stats_2018_19.to_csv('df_real_stats_2018_19.csv')
df_proj_stats_2018_19.to_csv('df_proj_stats_2018_19.csv')

In [43]:
df_real_stats_2018_19.head(5).to_html('table_real_data.html')

In [44]:
df_proj_stats_2018_19.head(5).to_html('table_proj_data.html')

# Comparing to Competitors

In [45]:
player_proj = pd.read_csv('player_proj_df.csv')

In [46]:
columns = ['player_name',
           'player_id',
           'proj_pts',
           'proj_min',
           'proj_fgm',
           'proj_fga',
           'proj_fg3m',
           'proj_fg3a',
           'proj_ftm',
           'proj_fta',
           'proj_oreb',
           'proj_dreb',
           'proj_ast',
           'proj_stl',
           'proj_tov',
           'proj_blk']

In [47]:
df_proj_final = player_proj.loc[:, columns]

In [48]:
df_proj_final['proj_fg%'] = df_proj_final['proj_fgm'] / df_proj_final['proj_fga']
df_proj_final['proj_ft%'] = df_proj_final['proj_ftm'] / df_proj_final['proj_fta']

In [49]:
df_proj_final['proj_reb'] = df_proj_final['proj_oreb'] + df_proj_final['proj_dreb']

In [50]:
df_proj_final.tail(5)

,player_name,player_id,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_stl,proj_tov,proj_blk,proj_fg%,proj_ft%,proj_reb
304,Willy Hernangomez,1626195,5.985580,14.722780,2.275293,4.337004,0.000000,0.010538,1.446116,2.060977,1.464926,2.655802,0.597824,0.377686,0.857811,0.573993,0.524623,0.701665,4.120729
305,Wilson Chandler,201163,11.462810,29.167829,4.295812,9.523489,1.059051,2.947022,1.848857,2.281238,1.176468,3.809336,1.590666,0.800370,1.146916,0.448807,0.451075,0.810462,4.985804
306,Yogi Ferrell,1627812,9.277499,25.591605,3.343853,8.342588,1.556202,4.190836,1.004185,1.387576,0.395357,2.427785,2.065109,0.712795,0.921862,0.291648,0.400817,0.723698,2.823142
307,Zach LaVine,203897,13.019930,28.166167,4.747361,11.186628,1.341064,3.823189,2.147932,2.637023,0.515644,2.460736,2.437654,0.814816,1.421057,0.273753,0.424378,0.814529,2.976380
308,Zaza Pachulia,2585,4.708466,15.200837,1.887957,4.137357,0.000000,0.043625,0.920766,1.228401,1.132377,2.250570,0.792398,0.438271,0.799345,0.252155,0.456320,0.749565,3.382947

In [51]:
final_columns = [
    'player_name',
           'player_id',
           'proj_pts',
           'proj_reb',
           'proj_ast',
           'proj_blk',
           'proj_stl',
           'proj_fg%',
           'proj_ft%',
           'proj_fg3m',
           'proj_min',
           'proj_tov'
]

In [52]:
df_proj_final = df_proj_final[final_columns]

In [53]:
df_competitor = pd.read_csv('ESPN_CBS_FantasyPros_Fantasy_Basketball_Overall_2018_Average_Projections.csv')

In [54]:
df_competitor.sample(5)

,Player,Team,Positions,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,GP,MIN,TO
292,Jerome Robinson,LAC,SG,5.4,1.4,1.1,0.1,0.6,0.421,0.741,0.3,74.0,15.7,0.9
313,T.J. McConnell,PHI,PG,4.9,2.3,3.8,0.1,1.0,0.483,0.792,0.2,77.0,17.0,1.2
213,Lonnie Walker IV,SAS,SG,7.7,2.0,1.9,0.2,1.0,0.435,0.801,0.7,72.0,19.8,1.2
0,Anthony Davis,NOR,"PF,C",29.6,11.6,2.3,2.5,1.7,0.530,0.814,0.7,78.0,37.6,2.3
339,Ivan Rabb,MEM,"PF,C",3.6,3.3,0.5,0.3,0.2,0.567,0.805,0.0,82.0,0.0,0.6

In [55]:
columns_to_drop = [
    'Team',
    'Positions',
    'GP'
]

In [56]:
df_competitor.drop(columns = columns_to_drop, inplace = True)

In [57]:
df_competitor.sample(5)

              Player   PTS  REB  AST  BLK  STL    FG%    FT%  3PM   MIN   TO
96       Serge Ibaka  13.1  6.5  1.0  1.3  0.5  0.486  0.832  1.7  25.8  1.3
90     Nicolas Batum  13.4  5.3  5.5  0.4  1.1  0.410  0.847  1.7  32.6  2.4
242  Thabo Sefolosha   6.7  4.0  1.5  0.5  1.3  0.480  0.765  0.7  19.7  0.8
87    Nikola Mirotic  13.6  6.3  1.4  0.7  0.9  0.446  0.805  2.3  25.5  1.1
264  Wayne Ellington   6.2  1.5  0.6  0.1  0.4  0.409  0.862  1.5  19.8  0.4

In [58]:
lowercase_names = df_competitor['Player'].str.lower()

In [59]:
df_competitor['Player'] = lowercase_names

In [60]:
df_competitor.sample(5)

,Player,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO
373,sindarius thornwell,1.0,0.6,0.3,0.1,0.2,0.457,0.671,0.1,0.0,0.2
372,tj leaf,1.4,0.7,0.1,0.0,0.0,0.523,0.624,0.2,0.0,0.1
163,miles bridges,9.4,5.0,1.4,0.8,0.8,0.467,0.755,0.4,23.6,1.0
428,jaylen adams,0.0,0.0,0.0,0.0,0.0,0.400,0.667,0.0,0.0,0.0
11,joel embiid,23.7,11.1,3.1,1.8,0.7,0.482,0.775,1.2,33.3,3.8

In [61]:
player_info = pd.read_csv('player_info_df.csv')

In [62]:
season = player_info['proj_season_id'] == '2018-19'

In [63]:
player_df = player_info[season]

In [64]:
lowercase = player_df['player_name'].str.lower()

In [65]:
player_df['player_name'] = lowercase

In [66]:
player_df.sample(5)

        player_name  player_id proj_season_id
178    kyle o'quinn     203124        2018-19
10   andre iguodala       2738        2018-19
96   garrett temple     202066        2018-19
0      aaron gordon     203932        2018-19
289   troy williams    1627786        2018-19

In [67]:
comp_merged = pd.merge(df_competitor,
        player_df[['player_name', 'player_id']],
        how='left',
        left_on = 'Player',
        right_on = 'player_name').drop_duplicates().reset_index(drop=True)

In [68]:
comp_merged.dropna(how = 'any', inplace = True)

In [69]:
comp_merged.sample(5)

,Player,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO,player_name,player_id
286,ben mclemore,5.6,1.7,0.9,0.2,0.4,0.430,0.783,0.5,21.6,0.8,ben mclemore,203463.0
215,rajon rondo,7.6,4.3,6.5,0.1,1.2,0.450,0.581,0.8,22.4,2.4,rajon rondo,200765.0
174,pau gasol,8.9,7.3,2.2,0.7,0.5,0.468,0.788,0.6,22.8,1.2,pau gasol,2200.0
370,boban marjanovic,1.5,1.1,0.1,0.1,0.1,0.564,0.800,0.0,0.0,0.2,boban marjanovic,1626246.0
20,cj mccollum,21.6,4.1,3.3,0.5,1.0,0.456,0.871,2.3,36.9,1.9,cj mccollum,203468.0

In [70]:
comp_merged.dtypes

Player          object
PTS            float64
REB            float64
AST            float64
BLK            float64
STL            float64
FG%            float64
FT%            float64
3PM            float64
MIN            float64
TO             float64
player_name     object
player_id      float64
dtype: object

In [71]:
player_ids = comp_merged['player_id'].astype(int)

In [72]:
comp_merged['player_id'] = player_ids

In [73]:
comp_merged.dtypes

Player          object
PTS            float64
REB            float64
AST            float64
BLK            float64
STL            float64
FG%            float64
FT%            float64
3PM            float64
MIN            float64
TO             float64
player_name     object
player_id        int32
dtype: object

In [74]:
del comp_merged['Player']

In [75]:
cols = [
    'player_name',
    'player_id',
    'PTS',
    'REB',
    'AST',
    'BLK',
    'STL',
    'FG%',
    'FT%',
    '3PM',
    'MIN',
    'TO']

In [76]:
comp_merged = comp_merged[cols]

In [77]:
comp_merged.sample(5)

,player_name,player_id,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO
354,noah vonleh,203943,2.8,3.4,0.4,0.3,0.2,0.461,0.625,0.1,0.0,0.5
381,glenn robinson iii,203922,0.6,0.3,0.1,0.0,0.1,0.400,0.723,0.1,0.0,0.0
86,jusuf nurkic,203994,13.6,9.2,1.9,1.4,0.9,0.499,0.612,0.0,26.2,2.4
376,langston galloway,204038,0.7,0.2,0.1,0.0,0.1,0.347,0.795,0.2,0.0,0.1
167,dion waiters,203079,9.2,1.9,2.5,0.2,0.5,0.416,0.675,1.1,27.2,1.4

In [78]:
df_real = player_proj.loc[:,['player_name', 'player_id', 'pts','min','fgm','fga','fg3m','fg3a','ftm','fta','oreb','dreb','ast','stl','tov', 'blk']]

In [79]:
df_real.sample(5)

,player_name,player_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
13,Andrew Wiggins,203952,18.1,34.8,6.8,16.6,1.6,4.8,2.8,4.1,1.1,3.7,2.5,1.0,1.9,0.7
64,Delon Wright,1626153,8.7,22.6,3.2,7.4,0.7,2.2,1.6,2.0,0.9,2.6,3.3,1.2,1.0,0.4
177,Kyle Lowry,200768,14.2,34.1,4.7,11.4,2.4,7.0,2.5,3.0,0.6,4.2,8.7,1.4,2.8,0.5
180,LaMarcus Aldridge,200746,21.3,33.2,8.4,16.3,0.1,0.5,4.3,5.1,3.1,6.1,2.4,0.5,1.8,1.3
140,Jerryd Bayless,201573,6.1,19.3,2.4,6.8,0.9,2.9,0.5,0.8,0.3,1.5,3.5,0.5,0.9,0.1

In [80]:
df_real['fg%'] = df_real['fgm']  / df_real['fga']
df_real['ft%'] = df_real['ftm'] / df_real['fta']
df_real['reb'] = df_real['oreb'] + df_real['dreb']

In [81]:
final_real_columns = [
    'player_name',
           'player_id',
           'pts',
           'reb',
           'ast',
           'blk',
           'stl',
           'fg%',
           'ft%',
           'fg3m',
           'min',
           'tov'
]

In [82]:
df_real_final = df_real[final_real_columns]

In [83]:
df_real_final.head(5)

,player_name,player_id,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
0,Aaron Gordon,203932,16.0,7.4,3.7,0.7,0.7,0.447761,0.750000,1.6,33.8,2.1
1,Al Horford,201143,13.6,6.8,4.2,1.3,0.9,0.537736,0.785714,1.1,29.0,1.5
2,Al-Farouq Aminu,202329,9.4,7.5,1.3,0.4,0.8,0.438356,0.904762,1.2,28.3,0.9
3,Alec Burks,202692,8.8,3.7,2.0,0.3,0.6,0.405405,0.818182,1.0,21.5,1.0
4,Alex Abrines,203518,5.3,1.6,0.6,0.2,0.5,0.352941,1.000000,1.3,19.0,0.5

In [84]:
competitor_final = pd.merge(comp_merged, df_real_final, how = 'left', on = 'player_id')

In [85]:
competitor_final.sample(5)

,player_name_x,player_id,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,...,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
196,nemanja bjelica,202357,6.4,3.7,1.2,0.3,0.7,0.447,0.771,1.1,...,9.6,5.7,1.9,0.7,0.7,0.480519,0.750000,1.3,23.2,1.1
249,deyonta davis,1627738,4.2,1.9,0.7,0.4,0.2,0.521,0.729,0.8,...,4.0,4.0,0.6,0.6,0.3,0.708333,0.636364,0.0,13.2,0.3
51,nikola vucevic,202696,15.6,9.7,3.3,1.0,1.0,0.475,0.736,0.7,...,20.8,12.0,3.8,1.1,1.0,0.520710,0.785714,1.1,31.4,2.0
109,dirk nowitzki,1717,11.1,5.2,1.4,0.6,0.5,0.451,0.888,1.6,...,7.3,3.1,0.7,0.4,0.2,0.351351,0.800000,1.3,15.6,0.4
236,kyle o'quinn,203124,4.9,3.9,1.1,0.8,0.4,0.546,0.772,0.1,...,3.5,2.6,1.2,0.6,0.2,0.500000,0.800000,0.0,8.2,0.7

In [86]:
competitor_proj = competitor_final.dropna(how = 'any')

In [87]:
df_real = competitor_proj.loc[:, ['pts','reb','ast','blk','stl','fg%','ft%','fg3m','min','tov']]
df_proj = competitor_proj.loc[:, ['PTS','REB','AST','BLK','STL','FG%','FT%','3PM','MIN','TO']]

In [88]:
df_real.head(5)

    pts   reb   ast  blk  stl       fg%       ft%  fg3m   min  tov
0  25.9  12.0   3.9  2.4  1.6  0.519126  0.792208   0.9  33.0  2.0
1  36.1   6.6   7.5  0.7  2.0  0.440816  0.881818   4.8  36.8  5.0
2  27.4   8.4   8.3  0.6  1.3  0.507538  0.671053   2.0  35.2  3.6
3  27.7  12.5   5.9  1.5  1.3  0.578035  0.726316   0.7  32.8  3.7
4  22.9  11.1  10.7  0.5  1.9  0.425743  0.661290   1.6  36.0  4.5

In [89]:
# calculate mean square error
from sklearn.metrics import mean_squared_error
lin_mse = mean_squared_error(df_real, df_proj)
lin_rmse = np.mean(lin_mse)
confidence = np.sqrt(lin_rmse)
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

97.4 percent confidence in projected 2018-19 per game stats

In [90]:
df_proj_final.sample(5)

,player_name,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,proj_min,proj_tov
34,Caris LeVert,1627747,11.687324,3.187326,3.971527,0.271810,1.157241,0.452732,0.803230,0.998851,29.293120,1.769816
144,Joe Ingles,204060,10.192460,2.947869,4.333214,0.225932,0.980449,0.425597,0.800388,1.492919,29.706380,1.708183
43,Cory Joseph,202709,7.958852,3.302341,2.723590,0.217440,0.711255,0.436688,0.759780,0.917689,24.195998,1.202725
271,Terrence Ross,203082,9.003578,3.182723,1.848866,0.430146,0.911584,0.412703,0.764449,1.471253,27.961579,1.048750
197,Markieff Morris,202693,11.555217,4.944072,1.938834,0.397343,0.728942,0.443988,0.785981,0.880201,29.237117,1.276254

In [91]:
df_real_final.sample(5)

,player_name,player_id,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
29,Bryn Forbes,1627854,11.8,2.9,2.1,0.0,0.5,0.458333,0.800000,2.1,28.0,1.0
131,Jared Dudley,201162,4.9,2.7,1.4,0.3,0.6,0.414634,0.625000,0.9,20.7,0.7
40,Clint Capela,203991,16.6,12.6,1.4,1.5,0.7,0.651376,0.641026,0.0,33.6,1.4
70,Devin Booker,1626164,26.6,4.1,6.8,0.2,0.9,0.469388,0.859155,2.1,35.0,4.1
6,Alex Poythress,1627816,5.1,3.6,0.8,0.5,0.2,0.487179,0.642857,0.4,14.5,0.6

In [92]:
model_final = pd.merge(df_proj_final, df_real_final, how = 'left', on = 'player_id')

In [93]:
model_final.head(5)

,player_name_x,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,...,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
0,Aaron Gordon,203932,16.063873,6.748596,1.994430,0.710601,0.909579,0.440934,0.776026,1.402502,...,16.0,7.4,3.7,0.7,0.7,0.447761,0.750000,1.6,33.8,2.1
1,Al Horford,201143,12.340232,5.801251,3.247733,1.025916,0.652499,0.469240,0.763213,1.127251,...,13.6,6.8,4.2,1.3,0.9,0.537736,0.785714,1.1,29.0,1.5
2,Al-Farouq Aminu,202329,9.784116,5.388717,1.754433,0.446132,0.946406,0.436420,0.737191,1.407756,...,9.4,7.5,1.3,0.4,0.8,0.438356,0.904762,1.2,28.3,0.9
3,Alec Burks,202692,8.349126,2.417396,1.525246,0.143212,0.541122,0.413732,0.769635,0.692337,...,8.8,3.7,2.0,0.3,0.6,0.405405,0.818182,1.0,21.5,1.0
4,Alex Abrines,203518,5.502404,1.731801,0.988705,0.112903,0.481071,0.408612,0.796450,1.065089,...,5.3,1.6,0.6,0.2,0.5,0.352941,1.000000,1.3,19.0,0.5

In [94]:
df_real = model_final.loc[:, ['player_id','pts','reb','ast','blk','stl','fg%','ft%','fg3m','min','tov']]

In [95]:
df_proj = model_final.loc[:, ['player_id','proj_pts','proj_reb','proj_ast','proj_blk','proj_stl','proj_fg%','proj_ft%','proj_fg3m','proj_min','proj_tov']]

In [96]:
df_real.fillna(0, inplace=True)
df_proj.fillna(0, inplace=True)

In [97]:
df_real.head(5)

   player_id   pts  reb  ast  blk  stl       fg%       ft%  fg3m   min  tov
0     203932  16.0  7.4  3.7  0.7  0.7  0.447761  0.750000   1.6  33.8  2.1
1     201143  13.6  6.8  4.2  1.3  0.9  0.537736  0.785714   1.1  29.0  1.5
2     202329   9.4  7.5  1.3  0.4  0.8  0.438356  0.904762   1.2  28.3  0.9
3     202692   8.8  3.7  2.0  0.3  0.6  0.405405  0.818182   1.0  21.5  1.0
4     203518   5.3  1.6  0.6  0.2  0.5  0.352941  1.000000   1.3  19.0  0.5

In [98]:
round(df_proj,1).head(5)

,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,proj_min,proj_tov
0,203932,16.1,6.7,2.0,0.7,0.9,0.4,0.8,1.4,33.9,1.6
1,201143,12.3,5.8,3.2,1.0,0.7,0.5,0.8,1.1,30.2,1.6
2,202329,9.8,5.4,1.8,0.4,0.9,0.4,0.7,1.4,28.0,1.1
3,202692,8.3,2.4,1.5,0.1,0.5,0.4,0.8,0.7,20.8,1.0
4,203518,5.5,1.7,1.0,0.1,0.5,0.4,0.8,1.1,17.0,0.6

In [99]:
df_espn_proj_2018_19 = df_real
df_espn_proj_2018_19.head(5)

   player_id   pts  reb  ast  blk  stl       fg%       ft%  fg3m   min  tov
0     203932  16.0  7.4  3.7  0.7  0.7  0.447761  0.750000   1.6  33.8  2.1
1     201143  13.6  6.8  4.2  1.3  0.9  0.537736  0.785714   1.1  29.0  1.5
2     202329   9.4  7.5  1.3  0.4  0.8  0.438356  0.904762   1.2  28.3  0.9
3     202692   8.8  3.7  2.0  0.3  0.6  0.405405  0.818182   1.0  21.5  1.0
4     203518   5.3  1.6  0.6  0.2  0.5  0.352941  1.000000   1.3  19.0  0.5

In [100]:
df_proj_2018_19 = round(df_proj,2)
df_proj_2018_19.head(5)

,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,proj_min,proj_tov
0,203932,16.06,6.75,1.99,0.71,0.91,0.44,0.78,1.40,33.94,1.58
1,201143,12.34,5.80,3.25,1.03,0.65,0.47,0.76,1.13,30.25,1.61
2,202329,9.78,5.39,1.75,0.45,0.95,0.44,0.74,1.41,27.98,1.14
3,202692,8.35,2.42,1.53,0.14,0.54,0.41,0.77,0.69,20.80,1.01
4,203518,5.50,1.73,0.99,0.11,0.48,0.41,0.80,1.07,17.00,0.57

In [101]:
df_proj_2018_19 = df_proj_2018_19.rename(columns = {
    'proj_pts':'pts',
    'proj_reb':'reb',
    'proj_ast':'ast',
    'proj_blk':'blk',
    'proj_stl':'stl',
    'proj_fg%':'fg%',
    'proj_ft%':'ft%',
    'proj_fg3m':'fg3m',
    'proj_min':'min',
    'proj_tov':'tov',
})

In [102]:
df_proj_2018_19.head(5)

   player_id    pts   reb   ast   blk   stl   fg%   ft%  fg3m    min   tov
0     203932  16.06  6.75  1.99  0.71  0.91  0.44  0.78  1.40  33.94  1.58
1     201143  12.34  5.80  3.25  1.03  0.65  0.47  0.76  1.13  30.25  1.61
2     202329   9.78  5.39  1.75  0.45  0.95  0.44  0.74  1.41  27.98  1.14
3     202692   8.35  2.42  1.53  0.14  0.54  0.41  0.77  0.69  20.80  1.01
4     203518   5.50  1.73  0.99  0.11  0.48  0.41  0.80  1.07  17.00  0.57

In [103]:
# calculate mean square error
lin_mse = mean_squared_error(df_real, df_proj)
lin_rmse = np.mean(lin_mse)
confidence = np.sqrt(lin_rmse)
print(confidence)
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

2.0185200423933387
97.98 percent confidence in projected 2018-19 per game stats

In [104]:
df_espn_proj_2018_19.head(5).to_html('df_espn_proj_2018_19.html')

In [105]:
df_proj_2018_19.head(5).to_html('df_proj_2018_19.html')

In [106]:
df_espn_proj_2018_19 = round(df_espn_proj_2018_19,2)
df_espn_proj_2018_19.head(5)

   player_id   pts  reb  ast  blk  stl   fg%   ft%  fg3m   min  tov
0     203932  16.0  7.4  3.7  0.7  0.7  0.45  0.75   1.6  33.8  2.1
1     201143  13.6  6.8  4.2  1.3  0.9  0.54  0.79   1.1  29.0  1.5
2     202329   9.4  7.5  1.3  0.4  0.8  0.44  0.90   1.2  28.3  0.9
3     202692   8.8  3.7  2.0  0.3  0.6  0.41  0.82   1.0  21.5  1.0
4     203518   5.3  1.6  0.6  0.2  0.5  0.35  1.00   1.3  19.0  0.5

In [107]:
df_proj_2018_19 = round(df_proj_2018_19,2)
df_proj_2018_19.head(5)

   player_id    pts   reb   ast   blk   stl   fg%   ft%  fg3m    min   tov
0     203932  16.06  6.75  1.99  0.71  0.91  0.44  0.78  1.40  33.94  1.58
1     201143  12.34  5.80  3.25  1.03  0.65  0.47  0.76  1.13  30.25  1.61
2     202329   9.78  5.39  1.75  0.45  0.95  0.44  0.74  1.41  27.98  1.14
3     202692   8.35  2.42  1.53  0.14  0.54  0.41  0.77  0.69  20.80  1.01
4     203518   5.50  1.73  0.99  0.11  0.48  0.41  0.80  1.07  17.00  0.57

In [108]:
df_espn_proj_2018_19.to_csv('df_espn_final_proj_2018_19.csv')
df_proj_2018_19.to_csv('df_proj_final_2018_19.csv')